<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Welcome to ngAdmin Restify</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <small>Event, Notification and Subscription</small>

        <h2>Rest service</h2>

        <p>
        As a developer, I want to provide a rest service that will accept and store events from a wide range of applications. The applications will send me a message with several standard fields and a payload with information that's relevant to their application (meaning that there are no standards for the application data - they can save whatever they want).
        </p>

    </div>
</div>
